<nav id="navbar">
  <ul class="navbar-items flexbox-col">
    <li class="navbar-logo flexbox-left">
      <a class="navbar-item-inner flexbox" href="/map">
        <img src="../../assets/logo.png" alt="">
      </a>
    </li>
    <li class="navbar-item flexbox-left">
      <a class="navbar-item-inner flexbox-left" href="/map">
        <div class="navbar-item-inner-icon-wrapper flexbox">
          <span class="material-symbols-outlined ion-icon">location_on</span>
        </div>
        <span class="link-text">Mapa</span>
      </a>
    </li>
    <li class="navbar-item flexbox-left">
      <a class="navbar-item-inner flexbox-left" href="/analysis">
        <div class="navbar-item-inner-icon-wrapper flexbox">
            <span class="material-symbols-outlined ion-icon">analytics</span>
        </div>
        <span class="link-text">Análisis de Datos</span>
      </a>
    </li>
    <li class="navbar-item flexbox-left">
      <a class="navbar-item-inner flexbox-left" href="/user-files-to-uploaad">
        <div class="navbar-item-inner-icon-wrapper flexbox">
            <span class="material-symbols-outlined ion-icon">upload_file</span>
        </div>
        <span class="link-text">Carga de Datos</span>
      </a>
    </li>
    <li class="navbar-item flexbox-left">
      <a class="navbar-item-inner flexbox-left" href="https://github.com/agrocompuepidemlab/sugarcane_modelation" target="_blank">
        <div class="navbar-item-inner-icon-wrapper flexbox">
            <span class="material-symbols-outlined ion-icon">summarize</span>
        </div>
        <span class="link-text">Repositorio</span>
      </a>
    </li>
    <li class="navbar-item flexbox-left">
      <a class="navbar-item-inner flexbox-left" href="/logout">
        <div class="navbar-item-inner-icon-wrapper flexbox">
            <span class="material-symbols-outlined ion-icon">logout</span>
        </div>
        <span class="link-text">Cerrar Sesión</span>
      </a>
    </li>
  </ul>
</nav>
